DEBUG=True

SECRET_KEY=DJANGO-SECRET-KEY-TO-DEFINE

DB_NAME=django_stock
DB_USER=django_stock
DB_PASSWORD=YOUR_DB_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=3306

#Actuellement supportés: en, fr, es
DEFAULT_LANG=fr
TIME_ZONE=America/Toronto