{% load i18n %}

{# Info sur l'utilisateur connecté #}
{% if request.user.is_authenticated %}
    <span class="welcome-user">
        {# TODO: Lien vers le profil #}
        {# TODO: Ajout vignette photo à gauche si renseignée #}
        {{ request.user.first_name }} {{ request.user.last_name }}
    </span>
    {# Formulaire sécurisé pour se déconnecter #}
    <form action="{% url 'users:logout' %}" method="post" class="logout-form">
        {% csrf_token %}
        <button type="submit" class="btn-logout" title="{% translate 'Disconnect' %}">
            <span class="sr-only">{% translate 'Disconnect' %}</span>
        </button>
    </form>
{% endif %}
